.kanban-container {
    min-height: 100vh;
}

.kanban {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    text-align: start;
}

.kanban-board {
    min-width: 300px;
    width: 25vw;
}

.kanban-card {
    box-shadow: 1px 1px 30px #111;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: medium;
    margin-bottom: 20px;
}

.small-font {
    font-size: small;
}